@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgb(240, 240, 240);
  font-family: "Open Sans", sans-serif;
  background-image: url(background.jpg);
}

p,
label {
  color: rgb(44, 44, 44);
  font-size: 0.8rem;
  font-weight: 500;
}

h1 {
  color: rgb(44, 44, 44);
  font-size: 1.2rem;
  font-weight: 700;
}

.blok {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 30px;
  background: rgb(255, 255, 255);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

a {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 700;
  color: transparent;
  text-decoration: none;
  color: rgb(105, 125, 244);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

select {
  border-radius: 10px;
  background-color: rgb(105, 125, 244);
  margin-top: 5px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  padding: 5px;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.my-btn {
  margin-right: 5px; /* задаем отступ от кнопки справа */
  margin-top: 5px; /* задаем отступ от кнопки сверху*/
  width: 50px; /* задаем ширину кнопки */
  height: 50px; /* задаем высоту кнопки */
  border-radius: 0%; /* округляем кнопку */
  border: none; /* отключаем обводку */
  background: rgb(105, 125, 244); /* задаем серый цвет кнопки */
  color: rgb(255, 255, 255); /* задаем белый цвет текста внутри кнопки */
  font-size: 1rem; /* увеличим размер шрифта */
  font-family: "Open Sans", sans-serif; /* сменим шрифт */
  transition: all 1s ease;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  user-select: none; /* отключаем возможность выделить текст внутри кнопки */
}

/* hover - это состояние элемента, когда на него наведен курсор */
.my-btn:hover {
  background: rgb(
    52,
    62,
    119
  ); /* при наведение курсора на кнопку, она будет окрашена в серый */
}

/* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
.my-btn:active {
  filter: brightness(
    130%
  ); /* увеличим интенсивность цвета для эффекта вспышки */
}

/* селектор для кнопок первостепенных операций */
.my-btn.primary {
  background: #828ab2; /* цвет кнопки оранжевый */
}

/* селектор для кнопок второстепенных операций */
.my-btn.secondary {
  background: #50536e; /* цвет кнопки сервый */
}

/* селектор для кнопки расчета выражения (=) */
.my-btn.execute {
  background: rgb(57, 71, 150);
  width: 109px; /* сделаем кнопку шире других */
  border-radius: 15px; /* подкорректируем округлость */
}

/* селектор для поля вывода результата */
.result {
  margin-top: 10px;
  width: 220px;
  height: 70px;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  margin-bottom: 10px;
  padding-top: 10px; /* отступ снизу */
  padding-right: 10px; /* выступ справа */
  /* цвет можно задавать и таким образом */
  text-align: right; /* примагнитим текст к правой стороне */
  color: rgb(8, 8, 8); /* цвет текста белый */
  font-size: 1rem; /* увеличим размер шрифта */
  font-family: "Open Sans", sans-serif; /* сменим шрифт */
  font-weight: 700;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
