# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Environment variables
.env

# MacOS
.DS_Store

# VS Code
.vscode/

# Build output
dist/