body {
text-align: center;
background-color: #515151;
background-image: url("https://avatars.mds.yandex.net/i?id=d44bc6dd7cd99c406e5b490f788997a3_l-4964375-images-thumbs&n=13");
background-size: 1500px;

}

.btn
{
    margin-right: 5px;          
    margin-top: 5px;             
    width: 50px;                 
    height: 50px;                
    border-radius: 5px;          
    border: none;                
    background: #515151;         
    color: white;               
    font-size: 1.5rem;           
    font-family: Arial;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}


.result{
    
    width: 230px;
    height: 40px;
    margin-bottom: 15px;         /* отступ снизу */
    padding-right: 10px;         /* выступ справа */
    background: rgb(67, 57, 57); /* цвет можно задавать и таким образом */
    text-align: right;           /* примагнитим текст к правой стороне */
    color: #ff8f8f;              /* цвет текста белый */
    font-size: 1.5rem;
    font-family:serif;
    font-weight:lighter;
    margin: auto;
    padding-top: 10px;
    border-radius: 10px;
}
.btn.controls{
    background-color:rgb(203, 40, 40);
    /* text-align: center; */
}


.btn.digit{
    background-color:rgb(20, 69, 159);
    font-family: Georgia;
}


.btn.operations{
    background-color:rgb(145, 197, 48);
}

.btn.operations.equal
{
    width: 110px;
        border-radius: 25px;
        
    }
.btn:hover{
    background-color:cyan;
    
}
.btn:active{
    background-color:rgb(107, 108, 108);
    
}
.result:hover{
    background-color:rgb(214, 214, 214);

}
#info
{
    margin-left: 10px;
}
.lebel
{
    text-align: left;
    font-family:'Segoe UI';
    font-size: 0.9em;
    color: azure;
    /* font-weight: bolder; */
}
#link-body
{
    color: #ff8f8f;
    text-align: left;
}
#git{
    color: #515151;
    font-family:Georgia;
    background-color:beige;
    border-radius: 10px 5px 10px 5px;
    background-color: #ff8f8f;
    text-decoration: none;
    padding-right: 5px;
    margin-left: 5px;
    font-weight: bold;

}
#git:hover
{
    cursor:pointer;
    color: #ffffff;
    background-color: black;
    border-bottom: 1px;
}
.select
{
    background-color: #ff8f8f;
    border-radius: 10px 5px 10px 5px;
    font-family:Georgia;
    font-weight: bold;
}
.select:hover
{
    cursor:pointer;
    color: #ffffff;
    background-color: black;
    border-bottom: 1px;
}
#fone
{
    position: absolute;
    border-radius: 50%;
    background-color: #515151;
}