/* Карточки */
.card {
    margin: 15px;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Карусель */
.carousel-inner {
    max-width: 450px;  
    max-height: 1000px; 
    margin: 0 auto;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;  
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5; 
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black; /* Цвет фона стрелки */
}

body {
    background: linear-gradient(135deg, #947c7c 35%, #3b3d47 100%); 
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
    font-weight: 500;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    background: none;
    color: #070707;
    border: 2px solid #000000;
    padding: 10px 20px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #754256;
    color: rgb(142, 142, 142);
}

h1.gradient-text {
    background: linear-gradient(to right, #000000, #323131);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
