:root {
  --primary-color: #6c5ce7; /* Фиолетовый */
  --secondary-color: #2d3436; /* Темно-серый */
  --text-color: #ffffff; /* Белый */
  --background-image: url("back.jpg");
  --background-image-alt: url("back (1).jpg");
  --font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex; /* Включаем Flexbox */
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  min-height: 100vh; /* Занимаем всю высоту экрана */
  margin: 0; /* Убираем отступы по умолчанию */
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: all ease 0.8s;
}

.calculator {
  height: 450px;
  width: 233px;
}

.my-btn {
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 10px; /* Увеличим радиус скругления */
  width: 50px;
  height: 50px;
  border: none;
  background: linear-gradient(145deg, var(--secondary-color), #3c3c3c); /* Градиент */
  color: var(--text-color);
  font-size: 1.5rem;
  font-family: var(--font-family);
  cursor: pointer;
  user-select: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); /* Тень */
  transition: all 0.2s ease; /* Плавное изменение */
}

.my-btn:hover {
  filter: brightness(90%);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Тень при наведении */
  transform: scale(1.05); /* Увеличение кнопки при наведении */
}

.my-btn:active {
  filter: brightness(130%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); /* Тень при нажатии */
  transform: scale(0.98); /* Уменьшение кнопки при нажатии */
}

.my-btn.primary {
  background: var(--primary-color);
}

.my-btn.them {
  width: 229px;
  height: 50px;
}

.my-btn.secondary {
  background: var(--primary-color);
}

.my-btn.execute {
  width: 110px;
}

.result {
  width: 216px;
  height: 70px;
  border-radius: 15px; /* Увеличим радиус скругления */
  margin-bottom: 5px;
  padding: 10px 6px;
  background: linear-gradient(145deg, var(--secondary-color), #3c3c3c); /* Градиент */
  text-align: right;
  color: var(--text-color);
  font-size: 3.8rem;
  font-weight: bold;
  overflow-x: auto;
  overflow-y: hidden;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2); /* Внутренняя тень */
}

.info {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: bold;
  font-family: italic, Helvetica, sans-serif;
}

.info.link {
  font-weight: lighter;
}

.asd {
  position: absolute;
  bottom: 0;
}