body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}

.card {
    width: 540px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }

.card-body{
  display: flex;
  flex-direction: column;
}

