@font-face {
    font-family: 'Montserrat';
    src: url('C:\Скачка\Montserrat\Montserrat-Italic-VariableFont_wght.ttf') 
    

}
.bk {
    background-color: #786868;
    background-size: auto;
  }

.nthem1{
margin: 50px;
margin-right: 30px;
}

.calcul{
    width: 350px;
    height: 500px;
    border-radius: 20px;
    border: 6px solid #5e2c4e;
    background: #784c6a;
    color: #000000;
    font-family: Arial;
    padding: 18px;
    box-shadow: 4px 4px 4px #784c6a;

}

.calcul-screen{
    height: 125px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
}

.calcul-screen p {
    text-align: right;
    font-size: 4rem;
    margin: 0;
    margin-bottom: 25px;
    background-color: #966185;
    color: rgb(200, 181, 159);
    width: 100%;
    border-radius: 10px;
}

.but {
    display: grid;
    grid-template-areas:
    "ac plus-minus prosent division sqrt"
    "seven eight nine myltiply square"
    "four five six minus factorial"
    "one two three plus backspace"
    "zero zero dot equal triple-zero";
    grid-gap: 7px;
    justify-items: centre;
}

.btn {
    width: 60px;
    height: 60px;
    background: rgb(164, 105, 186);
    border-radius: 10%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.btn.zero {
    grid-area: zero;
    width: 100%;
    border-radius: 35px;
}

.btn:hover{
    filter: brightness(120%);
}

.bth:active{
    filter: brightness(90%);
}

.btn.bg-one {
    background: #a26e6e;
}

.btn.bg-two {
    background: #714256;
}

.info {
    
    margin: 60px 10px 0;
    padding: 5px;
    border: 5px solid #2b2215;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    color: #4a3c25;
   }
   .info p {
    display: none;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #2b2215;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
   }
  .text{
    color: #4a3c25;
  }


  .dark-mode{
    color: white;
    background: #1e1919;
    .calcul{
        background: #1e1919;
        color: #ffffff;
        font-family: Arial;
        padding: 18px;
        box-shadow: 4px 4px 4px #403e3e;
    }
    .btn {
        background: #3e3d3d;
        border-radius: 10%;
        text-align: center;
        line-height: 60px;
        font-size: 1.5rem;
        cursor: pointer;
        user-select: none;
    }
    .calcul-screen p {
        text-align: right;
        font-size: 4rem;
        margin: 0;
        margin-bottom: 25px;
        background-color: #221c16;     
        width: 105%;
        border-radius: 10px;
    }
    
    .btn.zero {
        grid-area: zero;
        width: 100%;
        border-radius: 35px;
    }
    
    .btn:hover{
        filter: brightness(120%);
    }
    
    .bth:active{
        filter: brightness(90%);
    }
    
    .btn.bg-one {
        background: #383131;
    }
    
    .btn.bg-two {
        background: rgb(48, 43, 33);
    }
    .calcul{
        width: 350px;
        height: 500px;
        border-radius: 20px;
        border: 6px solid rgb(52, 35, 24);
        background: rgb(60, 43, 32);
      
        font-family: Arial;
        padding: 18px;
        box-shadow: 4px 4px 4px rgb(56, 37, 25);    
    }

    .info {
    
        margin: 60px 10px 0;
        padding: 5px;
        border: 5px solid #b9a892;
        border-radius: 5px;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 15px;
        color: white;
       }

       .info p {
        display: none;
        margin: 5px 0;
        padding: 5px;
        border: 1px solid #b9a892;
        border-radius: 5px;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 15px;
       }

      .text{
        color: white;
      }
 
   }