/* Сброс стандартных стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Общий стиль для страницы */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f1f1f1;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

header {
    margin-bottom: 30px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: #333;
}

#group-title {
    font-weight: bold;
    color: #db34ba;
}

/* Стиль кнопок */
button {
    cursor: pointer;
    font-size: 1rem;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    background-color: #cf4ab7;
    color: white;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

button:hover {
    background-color: #862956;
}

/* Стили для кнопки добавления участника */
.add-button {
    display: block;
    margin: 0 auto 30px auto; /* Центрируем кнопку */
    font-size: 1rem;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    background-color: #d938b1;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.add-button:hover {
    background-color: #2980b9; /* Более темный оттенок при наведении */
}

button.delete-button {
    background-color: #e74c3c;
    color: white;
}

button.delete-button:hover {
    background-color: #c0392b;
}

/* Стили для списка участников */
.user-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

/* Стили для карточки участника */
.user-element {
    width: 250px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.user-element:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.user-element img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}

.user-element p {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/* Стили для кнопки удаления в карточке */
.user-element .delete-button {
    width: 100%;
    font-size: 0.9rem;
    padding: 10px;
}
