
body {
    margin: 0;
    padding: 0;

    } 
  
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  
 
  .card {
    width: 540px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .card-text {
    color: #555;
  }
  .text1 {
    color: #555;
    font-size: 3em;
  }
  .text2 {
    color: #555;
    font-size: 2em;
  }
  .btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #a16740;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
  }
  .toggle-button {
    color: #fff;
    background-color: #a16740;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    left:1830px;
    right: 100px;
    top: 10px;
  }
  .btn-primary:hover {
    background-color: #a16740;
  }
  

  #back-button {
    margin-top: -10px;
  }


.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.header {
  background-color: #333;
  color: #fff;
  padding: 3px 0;
  text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.header-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo h1 {
    margin: 0;
    font-size: 24px;
}


.footer-contact p {
    margin: 5px 0;
    
}
.top-name {
  margin-left: auto;
  margin-right: auto;
}

.footer-social a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}


.footer-bottom {
    margin-top: 15px;
    
}
.but-back {
    left:1830px;
    right: 100px;
    top: 10px;
  }
.bcard
{
  background-color: #989493;
}
