.calc{
    width: 300px;
    height: 500px;
    border-radius: 20px;
    background: rgb(26, 0, 142);
    color: #000000;
    font-family: Arial;
    padding: 18px;
    margin-left: auto;
    margin-right: auto;
}


.calc-screen{
    
    height: 60px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
    margin-top: 30px;
    margin-bottom: 60px;
    border-radius: 10px; 
    background-color: rgb(31, 11, 72); 
}

.calc-screen p {
    color: #ffffff;
    text-align: right;
    font-size: 4rem;
    margin: 0;
    margin-bottom: 25px;
}

.buttons {
    display: grid;
    grid-template-areas:
    "ac plus-minus prosent division"
    "seven eight nine myltiply"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
    grid-gap: 7px;
    justify-items: centre;
}

.btn {
    width: 60px;
    height: 60px;
    background: #6fb5ff;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.btn.zero {
    grid-area: zero;
    width: 100%;
    border-radius: 35px;
}

.btn:hover{
    filter: brightness(120%);
}

.btn:active {
    filter: brightness(80%);
}

.btn.bg-grey {
    background: #0040ff;
}

.btn.bg-orange {
    background: #0040ff;
}

.details {
    
    margin: 60px 10px 0;
    padding: 5px;
    border: 1px solid #9089f5;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    border-radius: 15px;
   }
   .details p {
    display: none;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #9089f5;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
   }