:root {
    --main-bg-color: #000000;
    --bith-cor: #075eff;
    --select-cor: white;
    --hover-cor: #00d4dc;
    --secondaryhow-cor:#EE82EE;
    --primary: #ADFF2F;
    --primary-cor: #008000	;
    --secondary-cor: #970cdc;
    --res-cor: #18955d;
    --restex-cor: white;
    --hed-top: black;
    --hed-tex: white;
    --hed-logo: white;
}