:root {
    --main-bg-color: #ffffff;
    --bith-cor: #87CEEB ;
    --select-cor: black;
    --hover-cor: #00d4dc;
    --primary-cor: #00FA9A;
    --primary: #ADFF2F;
    --secondary-cor: #DDA0DD;
    --secondaryhow-cor:#EE82EE;
    --res-cor: #00BFFF;
    --restex-cor: #000000;
    --hed-top: white;
    --hed-tex: black;
    --hed-logo: black;
}