.calc{
    width: 300px;
    height: 500px;
    margin: 50px auto;
    border-radius: 20px;
    background: #36abe5;
    color: #000000;
    font-family: Arial;
    padding: 18px;
    box-shadow: 4px 4px 4px #696161;

}

.calc-screen{
    height: 125px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
}

.calc-screen p {
    text-align: right;
    font-size: 4rem;
    margin: 0;
    margin-bottom: 25px;
}

.buttons {
    display: grid;
    grid-template-areas:
    "ac plus-minus prosent division"
    "seven eight nine myltiply"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
    grid-gap: 7px;
    justify-items: centre;
}

.btn {
    width: 60px;
    height: 60px;
    background: #d1c6c6;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.btn.zero {
    grid-area: zero;
    width: 100%;
    border-radius: 35px;
}

.btn:hover{
    filter: brightness(120%);
}

.bth:active{
    filter: brightness(90%);
}

.btn.bg-grey {
    background: #b29898;
}

.btn.bg-orange {
    background: #5b506c;
}

.details {
    
    margin: 60px 10px 0;
    padding: 5px;
    border: 3px solid #000000;
    background-color: #36abe5;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
   }
   .details p {
    display: none;
    margin: 5px 0;
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
   }

   body{
    color: #007d66;
    background: rgb(135, 240, 240);
    transition: all .3s ease;
   }

   .dark-mode{
    color: white;
    background: #373737;
    .calc{
        background: #212121;
        color: #ffffff;
        font-family: Arial;
        padding: 18px;
        box-shadow: 4px 4px 4px #434343;
    }
    .btn {
        background: #3e3d3d;
        border-radius: 50%;
        text-align: center;
        line-height: 60px;
        font-size: 1.5rem;
        cursor: pointer;
        user-select: none;
    }
    .btn.zero {
        grid-area: zero;
        width: 100%;
        border-radius: 35px;
    }
    
    .btn:hover{
        filter: brightness(120%);
    }
    
    .bth:active{
        filter: brightness(90%);
    }
    
    .btn.bg-grey {
        background: #9d9898;
    }
    
    .btn.bg-orange {
        background: orange;
    }
    .details{
        background-color: orange;
    }
   }