/* === ТЕМАТИЧЕСКИЕ ПЕРЕМЕННЫЕ === */
:root {
    /* тёмная тема (по умолчанию) */
    --body-bg: url(uch.png);
    --calc-bg: #1f1e1e;
    --btn-bg: #565656;
    --btn-primary: #197ab2;
    --btn-secondary: #11595d;
    --btn-text: rgb(227, 226, 224);
    --result-bg: rgb(216, 218, 218);
    --result-text: #171617;

    --extra-bg: #197ab2;
    --extra-border: #094298;
    --target-text:#efefef;
    --footer-text:#efefef;
    --dop-bg: #53c1ad;
    --dob-text: #171617;
}

/* === СВЕТЛАЯ ТЕМА === */
.light-theme {
    --body-bg: #e6e6e6;
    --calc-bg: #ffffff;
    --btn-bg: #e5e5e5;
    --btn-primary: #ff3333;
    --btn-secondary: #1dc25c;
    --btn-text: #000000;
    --result-bg: #a7a7a7;
    --result-text: #000000;

    --extra-bg: #d73737;
    --extra-border: #c10606;
    --target-text:#000000;
    --footer-text:#000000;
    --dop-bg: #e6cc55;
    --dob-text: #ffffff;
}


/* опишем базовый стиль кнопки калькулятора */
.my-btn {   
  margin: 5px;           /* одинаковые отступы со всех сторон */
  width: 65px;              /* увеличим */
  height: 60px;
  border-radius: 8px;
  border: none;
  background: var(--btn-bg);
  color: var(--btn-text);
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.row {
    display: flex;
    justify-content: space-between; /* центрируем кнопки */
    gap: 10px;
    margin-bottom: 5px; /* расстояние между кнопками */
}

.calculator {
  width:320px; /* Фиксированная ширина калькулятора */
  margin: 50px auto; /* Центрирование по горизонтали и отступ сверху  */
  padding: 20px; /* Внутренний отступ */
  background-color: var(--calc-bg); /* Фон основного блока калькулятора */
  border-radius: 10px; /* Скругление углов основного блока */
  display: inline-block;
}



body {
    display: flex;
    flex-direction: column; /* чтобы надпись под калькулятором */
    justify-content: center;
    align-items: center;
    height: 110vh;
    margin: 0;

    background: url(uch.png);
    background-size: cover;
    font-family: Arial, sans-serif;
}

/* Задание 18: Сворачивающиеся и разворачивающиеся подробности */
.author {
    margin-top: 1px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    background: var(--extra-bg);
    border: 1px solid var(--extra-border);
    margin-bottom: 10px;
    color: #ffffff;
    width: 298px;
}


.footer {
    text-align: center;
    margin-top: 5px;
    color: var(--footer-text);
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

.target {
    margin-top: 5px;
    color: var(--target-text);
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.extras {
  margin-top: 10px;
}

.my-btn.colorfon {
  padding: 8px 15px;
    width: 115px;
    padding: 10px;
    font-size: 1rem;
    font-weight:lighter;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--dop-bg); 
    color: var(--dob-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.theme-btn {
    padding: 8px 15px;
    width: 310px;
    padding: 10px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--dop-bg); 
    color: var(--dob-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}


.opt-select {
    padding: 8px 15px;
    border-radius: 5px;
    background-color: var(--dop-bg); 
    color: var(--dob-text);
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
    height: 33px;
    width: 210px;
}

.github-link {
    padding: 8px 17px;
    line-height: 60px;
    background-color: #6c757d; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s;
    margin: 5px;
}

/* обращение к псевдоклассу */
.github-link:hover {
    background-color: #5a6268;
}



/* hover - это состояние элемента, когда на него наведен курсор */
.my-btn:hover,
.my-btn.execute:hover,
.my-btn.primary:hover,
.my-btn.secondary:hover,
.theme-btn:hover {
  transform: scale(1.05);
}


/* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
.my-btn:active {
  filter: brightness(130%); /* увеличим интенсивность цвета для эффекта вспышки */
}

/* селектор для кнопок первостепенных операций */
.my-btn.primary { 
  background: var(--btn-primary); /* цвет кнопки оранжевый */
}

/* селектор для кнопок второстепенных операций */
.my-btn.secondary { 
  background: var(--btn-secondary); /* цвет кнопки сервый */
}

/* селектор для кнопки расчета выражения (=) */
.my-btn.execute { 
  width: 170px;          /* сделаем кнопку шире других */
  border-radius: 5px;   /* подкорректируем округлость */
}

/* селектор для поля вывода результата */
.result { 
  width: 295px;
  min-height: 50px;
  height: auto;
  border-radius: 5px;
  line-height: 50px;
  margin: 5px;
  margin-bottom: 10px;         /* отступ снизу */         /* выступ справа */
  background: var(--result-bg);
  color: var(--result-text); /* цвет можно задавать и таким образом */
  text-align: right;           /* примагнитим текст к правой стороне */
  padding-right: 15px;
  word-wrap: break-word;
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}