        .btn-group {
            padding: 20px;
            margin: 20px;
        }

        .btn {
            width: 150px;
            font-size: x-large;
        }
        
        .dropdown-item {
            font-size: large;
        }

        .dropdown-menu-winter {
            background-color:darkgray;
        }
        .dropdown-menu-spring {
            background-color:green;
        }
        .dropdown-menu-summer {
            background-color: gold;
        }
        .dropdown-menu-autumn {
            background-color: brown;
        }
        .dropdown-item-black {
            background-color: black;
            color: white;
            border-radius: 5px;
        }
        .dropdown-item-white {
            background-color: white;
            color: black;
            border-radius: 5px;
        }
        .dropdown-item-black:hover {
            background-color: black;
            color: white;
        }

        div.new-display {
            display: flex;
            justify-content: center;
            margin: 10px;
        }

        body.background {
            background-color: lightgray;
        }