@font-face {
  font-family: PressStart2P; 
  src: local(pompadur), url(PressStart2P-Regular.ttf); 
 }

body{
  background-image: url(57.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0; 
}

.img-pepe{
  margin: auto;
  width: auto;
  height: 256px;
  background-color: unset;
}

.text{
  font-family: PressStart2P;
  margin: 0px 0px 0px 0px;
  height: 20vh;
}

.flex-calc{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 77vh;
}

.grid{
  display: grid;
  grid-template-rows: 70px auto;
  /* grid-template-rows: repeat(6, 70px); */
  
}

#img-rocket-left{
  /* grid-row: 1; */
  width: 109px;
  height: 256px;
  transform: rotate(-90deg) ;
  /* translate(97px, 60px) */
  clip-path: inset(0 0 65% 0);
  position: absolute;
  left: -16px;
  top: -97px;

}

#img-rocket-right{
  /* grid-row: 1; */
  width: 109px;
  height: 256px;
  transform: rotate(-90deg) ;
  /* translate(97px, -17px) */
  clip-path: inset(35% 0 0 0);
  position: absolute;
  left: 263px;
  top: -97px;
}



  @media (prefers-color-scheme: light) {
    .my-btn { 
      margin-right: 0px;           
      margin-top: 0px;           
      width: 70px;              
      height: 70px;           
      border-radius: 0%;        
      border: none;            
      background: #ff87b3;       
      color: rgb(0, 0, 255);     
      font-size: 2.5rem;         
      font-family: 'Times New Roman', Times, serif; 
      cursor: pointer;           
      user-select: none;       
      border: 2px solid #9dfaff;
      } 
  }
  
  /* Стили для тёмной темы */
  @media (prefers-color-scheme: dark) {
    .my-btn { 
      margin-right: 0px;           
      margin-top: 0px;           
      width: 70px;              
      height: 70px;           
      border-radius: 0%;        
      border: none;            
      background: #ff9900;       
      color: rgb(0, 0, 255);     
      font-size: 2.5rem;         
      font-family: 'Times New Roman', Times, serif; 
      cursor: pointer;           
      user-select: none;       
      border: 2px solid #ff00ff;
      } 
  }

  body.dark-theme .my-btn { 
    margin-right: 0px;           
    margin-top: 0px;           
    width: 70px;              
    height: 70px;           
    border-radius: 0%;        
    border: none;            
    background: #ff87b3;       
    color: rgb(0, 0, 255);     
    font-size: 2.5rem;         
    font-family: 'Times New Roman', Times, serif; 
    cursor: pointer;           
    user-select: none;       
    border: 2px solid #9dfaff;
    } 
  
  .my-btn:hover {
    background: rgb(180, 133, 133); 
  }
  
  .my-btn:active {
    filter: brightness(130%);
  }
  
  .my-btn.primary { 
    background: #80ff00; 
  }
  
  .my-btn.secondary { 
    background: rgb(225, 255, 0); 
  }
  
  .my-btn.execute {
    border-radius: 0px;
    cursor: progress; 
    width: 70px;
  }
  
  /* селектор для поля вывода результата */
  .result { 
    width: 280px;
    height: 55px;
    background: rgb(148, 213, 245); 
    text-align: right;        
    color: rgb(44, 0, 238);             
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 40px; 
  }
  .rocket-bg { 
    background: rgb(255, 255, 255);
  }

  .select{
    background: black;
    color: #ffffff;
    height: 3vh;
    border: none;
    margin: 0px 0px -16px 0px;
  }

  .gridButtons{
    display: grid;
    grid-row: 2;
    grid-template-columns: repeat(4, 70px);
    
  }

  .result-items{
    /* display: flex; */
    position: relative;
    bottom: 10px;
    grid-row: 1;
  }

  .qwe{
    width: 20px;
    height: 10px;
  }