body{
   background-image:  url("Кавказские горы _ 4к таймлапс (1).jpg");
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
   width: 100vw;
  height: 100vh;
  transition: all ease 1.6s;

  margin:0
   
}
.calculator
{
  
  height: 450px;
  width: 233px;
  margin:auto;
 
}
.my-btn { 
    margin-right: 5px;           
    margin-top: 5px; 
    border-radius: 5px;            
    width: 50px;                 
    height: 50px;
    border: none;                
    background: rgb(67, 65, 55);           
    color: white;               
    font-size: 1.5rem;           
    font-family: Arial, Helvetica, sans-serif; 
    cursor: pointer;             
    user-select: none; 
  } 

    .my-btn:hover {
      filter: brightness(90%); 
  }
  
    .my-btn:active {
    filter: brightness(130%);
}
  
.my-btn.primary { 
    background: #64aadf;  
 }
.my-btn.them { 
    width: 229px;                 
    height: 50px;   
 }
  
.my-btn.secondary { 
    background: #64aadf;
}
  
.my-btn.execute { 
  width: 110px;           
  }

.result { 

    width: 216px;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 5px;         
    padding: 10px 6px;        
    background: rgb(67, 65, 55);
    text-align: right;
    color: #ffffff;             
    font-size: 3.8rem;
    font-weight: bold;
    overflow-x: auto;
    overflow-y:hidden;
  

    
  }
  .info
  {
    color: #ffffff;             
    font-size: 1.0rem;
    font-weight: bold;
    font-family: italic, Helvetica, sans-serif;
  }
  .info.link
  {
    font-weight:lighter;
  }
  .asd
  {
    position: absolute;
   bottom: 0;
  }