body {
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center; /* Центруем текст по всему документу */
}
head {
    background-color:rgb(5, 43, 255);
    padding: 10px;
}
.col-md-4 {
    border: 5px solidrgb(16, 241, 16);
    text-align: center;
    transition: transform 0.2s;
}
.nav-link-active{
    border: 1px solidrgb(249, 253, 5);
    text-align: center;
    background-color: pink;
}