.btn {
    color: #fff;;
    border: none;
    font-size:2rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor:pointer;         
    width: 50px;                 
    height: 50px; 
    background:#741102;
    border-radius: 15%;
}
.btn:hover {
    background:#74110272;
}  

.btn.second {
color: #fff;
background: #25330F;
}

.btn.second:hover {
    background: #25330f9f;
}  

.btn.primary {
color:#fff;
background:#929079;
}
.btn.primary:hover {
    background:#929079ad;
} 

.btn.primary.execute {
color:white;
width:100%;
background: #042d29;;
grid-column: span 2;
}

.btn.primary.execute:hover {
    background:#042d299b;
}  

.btn.dop {
background-color: #b78c56;
color: #FFF;
}

.btn.dop:hover{
    background-color: #b78b56aa;
}
.result
{
    background: #e7e3dd;
    ;
    width: 225px;
    height: 60px;
    border-radius:10px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #000 ;
    padding-right: 5px;
    grid-column: 1/-1;
    overflow: hidden;
   white-space: nowrap;
}

.fon
{
display:grid;
grid-template-columns: repeat(4,1fr);
background-color: #3e060690;
width: 230px;
border-radius: 10px;
gap: 5px;
padding: 5px;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
position: absolute;
}

body
{
 background-image: url(fon.jpg);
 background-repeat: no-repeat;
 background-size: cover;
  height: 100vh;
}

.tema {
    background: #d4ccbd;
    border-radius: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    border: none;
    cursor:pointer;
    grid-column: span 4; 
    height: 50px; 
}
.tema:hover {
background:#d4ccbd9c;
}

.changeResult
{
    background:#d4ccbd;
    border-radius: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    border: none;
    cursor:pointer;
    grid-column: span 4; 
    height: 50px; 
}

.changeResult:hover
{
    background-color: #d4ccbd9c;
}

.spisok
{
    background:#d4ccbd;
    height:90px;
    border-radius: 7px; 
    grid-column: 1/-1; 
    padding:5px;
    font-weight: bolder;
    cursor: pointer;
}

.github{
    color: black;
    text-decoration: none;
}

.github:hover
{
    color: whitesmoke;
}

.nastroika
{
padding-left: 10%;
cursor: default;
}

.LR{
    background: #d4ccbd;
    height: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    border-radius:7px;
    padding: 5px;
    cursor: default;
    grid-column: 1/-1;
}
.vivod
{
    grid-column: 1/-1;
    background: #d4ccbd;
    padding:5px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: default;
}

#btn_op_tripple_zero {
    font-size: 1.5rem;
}

.back
{
    background: #d4ccbd;
    border-radius: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    border: none;
    cursor:pointer;
    grid-column: span 4; 
    height: 50px; 
}

.back:hover{
    background:#d4ccbd9c;
}

