body {
    background-color: #0d1117;
    color: #c9d1d9;
    text-align: center;
    font-family:Consolas;
}

.outputSpace {
    width: 300px;
    height: 100px;
    background-color: #30363d;
    border-radius: 6px;
    padding: 10px;
    margin: auto; 
    text-align: left;
    font-size: 24px;
    flex-direction: column;
    border: 1px solid #21262d;
}

#Output {
    margin-top: auto;
}

#CurrentOperation{
    margin: 0px;
    font-size: 20px;
    color: #8b949e;
}

#LastNumber{
    margin: 0px;
    font-size: 20px;
    color: #8b949e;
}

.buttonsContainer {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    margin-top: 30px;
}

.numButtons,
.operButtons {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-content: center; 
}

button {
    width: 80px;
    height: 80px;
    font-size: 20px;
    border-radius: 6px;
    background-color: #21262d;
    color: #c9d1d9;
    cursor: pointer;
    border: 1px solid #30363d;
}

button:hover {
    background-color: #30363d;
    border-color: #484f58;
}

button:active {
    background-color: #21262d;
}

footer {
    text-align: center;
    margin-top: 100px;
    font-size: 14px;
    color: #8b949e;
}

footer a {
    color: #58a6ff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer img {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    border: 3px solid #21262d;
    margin-top: 20px;
}